.about {
    display: flex;
    flex-direction: row;
}

.who-are {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;

    .line {
        width: 180px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
}

.pillars {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
    align-items: baseline;

    .line {
        width: 180px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
}

ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px auto;

    .about-i {
        display: block;
        margin: 0 auto 15px;
        max-width: 64px;
    }

    a.icon-a {
        text-decoration: none;
        color: $black;
        margin-top: 10%;
    }
}

li {
    max-width: 70px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


//     .divider{
//         justify-content: flex-end;
//         border-left: 1px solid #ccc;
//         margin: 0 10px;
//         height: 125px;
//     }