.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vw 4vw;
}

.who-are {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;

    .line {
        width: 250px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
}

.pillars {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
    align-items:flex-start;

    .line {
        width: 250px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
}

.ul-about {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;

    .about-i {
        display: block;
        margin: 0 auto 15px;
        max-width: 64px;
    }

    .icon-a {
        text-decoration: none;
        color: $black;
        margin-top: 10%;
    }
}

.li-about {
    max-width: 70px;
    margin: 20px 20px 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media only screen and (max-width: 720px) {
    .about {
        flex-direction: column;
        align-items: center;

        .who-are,
        .pillars {
            width: 100%;
            padding: 20px 30px;
        }

        .ul-about {
            width: 100%;
            // justify-content: center;
        }
    }
}