@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// ******* palette colors ********* //
$gray: rgb(243, 239, 239);
$black: rgb(58, 52, 52);
$white: rgb(255, 255, 255);
$green-dark: rgb(35, 200, 129);
$green-light: rgb(115, 234, 120);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

// FONT SIZES ***********
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
}



// mobile version *************************
// @media only screen and (max-width: 938px) {
//     .menu {
//         justify-content: space-between;
//         width: 100%;
//         display: flex;
//         flex-direction: row;
//         padding: 0 20px;

//         .menu-links {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//             font-size: 14px;
//             padding: 14px 0 0;

//             a {
//                 margin-right: 0;
//             }
//         }
//     }

//     .intro {
//         justify-content: center;
//         width: 100%;
//         flex-direction: row;
//         padding: 0 15px;

//         .text-intro {
//             justify-content: center;
//             display: flex;
//             flex-direction: column;
//             padding: 0 15px;
//         }
//     }

// }

// @media only screen and (max-width: 460px) {
//     .menu {
//         justify-content: space-between;
//         width: 100%;
//         display: flex;
//         flex-direction: row;
//         padding: 0 20px;

//         .logo {
//             font-size: 50px;
//             padding: 0
//         }
//     }

//     .intro {
//         justify-content: center;
//         width: 100%;
//         flex-direction: row;
//         padding: 0 15px;

//         .text-intro {
//             margin-top: 150px;
//             justify-content: center;
//             display: flex;
//             flex-direction: column;
//             padding: 0 15px;

//             p {
//                 margin: 5 auto;
//             }
//         }
//     }

// }