.intro {
    width: 100%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    // background-image: url(/img/van2.jpg);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-attachment: fixed;
    h1 {
        font-size: 60px;
    }

    p {
        font-size: 40px;
    }
}

img {
    background-clip: content-box;
    background-repeat: no-repeat;
    width: 100%;
    //height: 800px;
    opacity: 0.6;
}
