.services {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px 20px;
    
    .line {
        width: 200px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
    .col-service{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        justify-content:center;
        // align-items:stretch;
        
        .image-service{
            display: block;
            max-width: 50%;
            // min-height: 200px;
            padding: 25px;
            flex-basis: 100%;
            box-sizing: border-box;
        }
    }
}
