.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    
    .line {
        width: 200px;
        height: 4px;
        background: $green-light;
        margin: 0;
    }
}
.images-service{
    display: flex;
    flex-wrap: wrap;
   // width: 80%;
    justify-content:baseline;

    .image-service{
        display: block;
        max-width: 250px;
        min-height: 200px;
        margin: 20px;
    }
}