@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 80px;
  background-color: #f3efef;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 30px;
}

@media only screen and (max-width: 938px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 460px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px;
  }
}

.logo {
  cursor: pointer;
  font-size: 50px;
  font-family: "Monoton", cursive;
  color: #23c881;
  padding-right: 38%;
}

@media only screen and (max-width: 460px) {
  .logo {
    font-size: 50px;
    padding: 0;
  }
}

.menu-links {
  padding-top: 30px;
  width: 50%;
  text-align: right;
  list-style: none;
}

@media only screen and (max-width: 938px) {
  .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 14px;
    padding: 14px 0 0;
  }
}

li {
  display: inline;
}

.a-menu {
  text-decoration: none;
  text-transform: uppercase;
  color: #3a3434;
  font-weight: bold;
  margin-right: 22px;
}

@media only screen and (max-width: 938px) {
  .a-menu {
    margin-right: 0;
  }
}

a.active,
a:hover {
  color: #23c881;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 310px;
}

@media only screen and (max-width: 938px) {
  .intro {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 460px) {
  .intro {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15px;
  }
}

.text-intro {
  text-align: center;
  margin-top: 230px;
}

.text-intro h1 {
  font-size: 7vmin;
}

.text-intro p {
  font-size: 4vmin;
}

@media only screen and (max-width: 938px) {
  .text-intro {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 460px) {
  .text-intro {
    margin-top: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
  .text-intro p {
    margin: 5 auto;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.who-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 20px;
}

.who-are .line {
  width: 180px;
  height: 4px;
  background: #73ea78;
  margin: 0;
}

.pillars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pillars .line {
  width: 180px;
  height: 4px;
  background: #73ea78;
  margin: 0;
}

ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 10px auto;
}

ul .about-i {
  display: block;
  margin: 0 auto 15px;
  max-width: 64px;
}

ul a.icon-a {
  text-decoration: none;
  color: #3a3434;
  margin-top: 10%;
}

li {
  max-width: 70px;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 20px;
}

.services .line {
  width: 200px;
  height: 4px;
  background: #73ea78;
  margin: 0;
}

.images-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.images-service .image-service {
  display: block;
  max-width: 250px;
  min-height: 200px;
  margin: 20px;
}
/*# sourceMappingURL=main.css.map */